<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1:802058203335:ios:17e1f06edab3c803de8ee2</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Digipay needs access to the local network to connect to the development server.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to scan merchant UPI QR codes.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DIGIPAY uses your location to register your business and identify nearby customers.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>upi</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>tez</string>
	</array>
</dict>
</plist>
